// ------------------------------------------------------------
// CONTROL MODULES - override wavesjs/basic-controllers styles
// ------------------------------------------------------------

#conductor {
  // configure rendering
  $backgroundColor: #242424;
  $borderColor: #282828;
  $textColor: #ffffff;
  $textColorLight: #cdcdcd;

  $elmHeight: 36;
  $elmPadding: 3;
  $elmMargins: 4px auto;
  $innerHeight: $elmHeight - ($elmPadding * 2) - 2; /* 2 for borders */

  $legendText: italic normal 14px $mainFont;
  $inputText: normal normal 14px $mainFont;
  $sliderNumberText: normal normal 10px $mainFont;
  $unitText: italic normal 14px $mainFont;
  $textLegend: normal bold 15px $mainFont;

  $btnBgColor: #464646;
  $btnBgColorHover: #686868;
  $btnBgColorActive: #909090;
  $btnTextColor: #ffffff;

  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box;

  h1 {
    margin: 8px 0;
  }

  // LAYOUT
  .waves-basic-controllers {
    width: 100%;
    max-width: 800px;
    height: $elmHeight + px;
    padding: $elmPadding + px;
    margin: $elmMargins;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    color: $textColor;

    .legend {
      font: $legendText;
      line-height: $innerHeight + px;
      overflow: hidden;
      text-align: right;
      padding: 0 12px 0 0;
      display: block;
      box-sizing: border-box;
      width: 24%;
      float: left;
      white-space: nowrap;
      @include prefix('user-select', 'none');
    }

    .inner-wrapper {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
      width: 76%;
      float: left;
    }
  }

  // -----------------------------------------------------------
  // SMALL DISPLAYS
  // -----------------------------------------------------------

  .waves-basic-controllers.small {
    &:not(.align-small) {
      height: auto;

      .legend {
        width: 100%;
        float: none;
        text-align: left;
      }

      .inner-wrapper {
        width: 100%;
        float: none;
      }
    }

    &.align-small {
      .legend {
        display: block;
        margin-right: 20px;
        text-align: left;
      }

      .inner-wrapper {
        display: inline-block;
        width: auto;
      }
    }

    &.buttons .legend {
      display: none;
    }

    &.title {

    }
  }

  // -----------------------------------------------------------
  // REUSABLE ELEMENTS
  // -----------------------------------------------------------

  .waves-basic-controllers .arrow-right, .waves-basic-controllers .arrow-left {
    border-radius: 2px;
    width: 14px;
    height: $innerHeight + px;
    cursor: pointer;
    background-color: $btnBgColor;

    line {
      stroke-width: 3px;
      stroke: #ffffff;
    }

    &:hover { background-color: $btnBgColorHover; }
    &:active { background-color: $btnBgColorActive; }
  }

  .waves-basic-controllers .toggle-element {
    width: $innerHeight + px;
    height: $innerHeight + px;
    border-radius: 2px;
    background-color: $btnBgColor;
    cursor: pointer;

    &:hover {
      background-color: $btnBgColorHover;
    }

    line {
      stroke-width: 3px;
    }

    .x { display: none; }
    &.active .x { display: block; }
  }

  .waves-basic-controllers .btn {
    display: block;
    text-align: center;
    font: normal normal 12px arial;
    text-decoration: none;
    height: $innerHeight + px;
    line-height: $innerHeight + px;
    background-color: $btnBgColor;
    border: none;
    color: $btnTextColor;
    margin: 0 4px 0 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    &:last-child {
      margin: 0;
    }

    &:hover {
      background-color: $btnBgColorHover;
    }

    &:active, &.active {
      background-color: $btnBgColorActive;
    }

    &:focus {
      outline: none;
    }
  }

  .waves-basic-controllers .number {
    height: $innerHeight + px;
    display: inline-block;
    position: relative;
    font: $inputText;
    vertical-align: top;
    border: none;
    background: none;
    color: $textColor;
    padding: 0 4px;
    margin: 0;
    background-color: lighten($backgroundColor, 4%);
    border-radius: 2px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  .waves-basic-controllers select {
    height: $innerHeight + px;
    line-height: $innerHeight + px;
    background-color: lighten($backgroundColor, 4%);
    border-radius: 2px;
    border: none;
    vertical-align: top;
    padding: 0;
    margin: 0;

    &:focus {
      outline: none;
    }
  }

  .waves-basic-controllers input[type=text] {
    width: 100%;
    height: $innerHeight + px;
    line-height: $innerHeight + px;
    border: 0;
    padding: 0 4px;
    background-color: lighten($backgroundColor, 4%);
    border-radius: 2px;
    color: $textColorLight;
  }

  /* -------------------------------------------
   TITLE
   ------------------------------------------- */

  .waves-basic-controllers.title {
    border: none !important;
    margin-bottom: 0;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: transparent !important;
    height: 30px !important;

    .legend {
      font: $textLegend;
      height: 100%;
      overflow: hidden;
      text-align: left;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
  }

  /* -------------------------------------------
     SLIDER
     ------------------------------------------- */

  .waves-basic-controllers.slider {
    .range {
      height: $innerHeight + px;
      display: inline-block;
      margin: 0;
      -webkit-flex-grow: 4;
      flex-grow: 4
    }

    .number-wrapper {
      display: inline;
      height: $innerHeight + px;
      text-align: right;
      -webkit-flex-grow: 3;
      flex-grow: 3;

      .number {
        left: 5px;
        width: 54px;
        text-align: right;
        font: $sliderNumberText;
      }

      .unit {
        font: $unitText;
        line-height: $innerHeight + px;
        height: $innerHeight + px;
        width: 30px;
        display: inline-block;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        color: $textColorLight;

        sup {
          line-height: 7px;
        }
      }
    }

    &.slider-large {
      .range {
        -webkit-flex-grow: 50;
        flex-grow: 50
      }

      .number-wrapper {
        -webkit-flex-grow: 1;
        flex-grow: 1;
      }
    }

    &.slider-small {
      .range {
        -webkit-flex-grow: 1;
        flex-grow: 1
      }

      .number-wrapper {
        -webkit-flex-grow: 7;
        flex-grow: 7;
      }
    }
  }

  /* -------------------------------------------
     NUMBER BOX
     ------------------------------------------- */

  .waves-basic-controllers.number-box {
    .number {
      width: 120px;
      margin: 0 10px;
      vertical-align: top;
    }
  }

  /* -------------------------------------------
     SELECT LIST
     ------------------------------------------- */

  .waves-basic-controllers.select-list {
    select {
      margin: 0 10px;
      width: 120px;
      font: $inputText;
      color: $textColor;
    }
  }

  /* -------------------------------------------
     SELECT BUTTONS
     ------------------------------------------- */

  .waves-basic-controllers.select-buttons {
    .btn:first-of-type {
      margin-left: 4px;
    }
  }

  /* -------------------------------------------
     INFOS
     ------------------------------------------- */

  .waves-basic-controllers.info {
    input[type=text] {
      font: $inputText;
      color: $textColor;
    }
  }
}
