// ------------------------------------------------------------
// VIEW COMPONENTS
// ------------------------------------------------------------

// @todo - change to id
.space {
  svg {
    overflow: hidden;
    background-color: #242424;
  }

  .point {
    fill: $foregroundColor;

    &.selected {
      fill: darken($foregroundColor, 70%);
    }
  }

  .line {
    stroke: $foregroundColor;
    stroke-width: 1px;

    &.arrow {
      marker-mid: url(#marker-arrow);
    }
  }

  // .marker-circle {
  //   stroke: none;
  //   fill: $foregroundColor;
  // }

  .marker-arrow {
    fill: $foregroundColor;
  }
}

.select {
  color: $backgroundColor;
  background-color: $foregroundColor;
  font-size: 1.3rem;
  line-height: 3rem;
  height: 3rem;
}

// ------------------------------------------------------------
// AUTH
// ------------------------------------------------------------

#service-auth {
  input[type=password], .btn {
    width: 100%;
  }

  input[type=password] {
    font-size: 1.4rem;
    height: 30px;
    margin-bottom: 12px;
    text-align: center;
    color: #343434;
  }
}

// ------------------------------------------------------------
// CHECKIN
// ------------------------------------------------------------

#service-checkin {
  .checkin-label {
    margin: 0 auto;
    background-color: $belize-hole;
    border-radius: 50%;
  }

  $portraitBoxSize: 160px;
  $landscapeBoxSize: 120px;

  &.portrait .checkin-label {
    flex-basis: $portraitBoxSize;
    height: $portraitBoxSize;

    p {
      line-height: $portraitBoxSize;
    }
  }

  &.landscape .checkin-label {
    flex-basis: $landscapeBoxSize;
    height: $landscapeBoxSize;

    p {
      line-height: $landscapeBoxSize;
    }
  }
}

// ------------------------------------------------------------
// AUDIO BUFFER MANAGER
// ------------------------------------------------------------

#service-audio-buffer-manager {
  .progress-wrap {
    margin: 12px auto 0;
    border: solid 1px white;
    border-radius: 5px;
    height: $loadingProgressBarHeight;
    overflow: hidden;
    flex-basis: 80%;
  }

  .progress-bar {
    background-color: white;
    height: $loadingProgressBarHeight;
    width: 0; // updated from javascript
    @include transition(width 150ms);
  }
}

// ------------------------------------------------------------
// BASIC SHARED CONTROLLERS
// ------------------------------------------------------------

#basic-shared-controller {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box;

  h1 {
    margin: 8px 0;
  }
}

// ------------------------------------------------------------
// LANGUAGE
// ------------------------------------------------------------

#service-language {
  .section-center {
    padding: 10px;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

