# Transpiled files and dependencies
/node_modules
/public/js
/public/css
/dist

# ignore all config except default
/src/server/config/*
!/src/server/config/default.js

# Application instance specific
/logs
/db

# ignore junk files
npm-debug.log
.DS_Store
Thumbs.db

# ignore audio file description (dynamically gen.)
src/client/shared/audioFiles.js